<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<aside id="sidebar" class="expand" th:fragment="sidenav">
    <div class="d-flex justify-content-around">
        <div class="sidebar-logo">
            <a th:href="@{${redirectUrl}}">
                <img th:src="@{/images/logo.png}" height="80" width="80" alt="Logo" />
            </a>
        </div>
        <button class="toggle-btn" type="button">
            <span class="material-symbols-outlined">menu</span>
        </button>
    </div>
    <ul class="sidebar-nav">
        <li class="sidebar-item" th:each="menulist, iterStat : ${session.menuPageList}">
            <a th:href="@{'/' + ${menulist.url}}" th:title="${menulist.itemname}" class="sidebar-link">
                <span class="material-symbols-outlined" th:text="${menulist.bootstrapclass_sub}"></span>
                <span th:text="${menulist.itemname}"></span>
            </a>
        </li>


        <li class="sidebar-item">
            <a href="#" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse"
               data-bs-target="#eval" aria-expanded="false" aria-controls="eval">
                <span class="material-symbols-outlined">insert_chart</span>
                <span class="text">Manage Appointments</span>
            </a>
            <ul id="eval" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link">Manage Appointments</a>
                </li>
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link">Upload Faculty</a>
                </li>
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link">Appointments - Individual</a>
                </li>
            </ul>
        </li>


    </ul>
</aside>
<script>
    const coempt = document.querySelector(".toggle-btn");

coempt.addEventListener("click", function () {
  document.querySelector("#sidebar").classList.toggle("expand");
});
</script>